html {
    background-color: rgba(0, 0, 0, .9);
}

body {
    font-family: monospace;
    font-size: 25px;
    color: white;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    background-color: rgba(128, 128, 128, .25);
    border-style: double;
}

#score {
    text-align: center;
    margin-left: 60px;
}

#gear {
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    width: 150px;
    height: 50px;
}

.upgrade-bar {
    display: flex;
    font-size: 12px;
    background-color: rgba(128, 128, 128, .25);
    border-style: double;
    position: relative;
    justify-content: center;
}

.playfield {
    border-style: double;
}

#hand, #auto, #reset {
    opacity: .1;
}

.overlay-text {
    display: flex;
    position: relative;
    top: -5%;
    justify-content: center;
}

.text-below {
    display: flex;
    position: relative;
    top: -10%;
    justify-content: center;
}

#clicker-power, #clicker-power-auto, #clicker-reset {
    display: flex;
    justify-content: center;
}

.image-container {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#options {
    display: none;
    border-style: double;
    padding: 5px;
}

#options.flex {
    display: flex;
}

.save-paused {
    display: flex;
    font-size: 14px;
}

.instructions {
    display: none;
    text-align: center;
}

.wrapper {
    display: flex;
}